#twostep{
    width: 100px;
    height: 5px;
    background-color: #3d3203;
    border-radius: px;
    border: 2px solid #2c2401;
    color: #fff;
    font-weight: bold;
}
#onestep{
    width: 25px;
    height: 5px;
    background-color: #f8f8f8;
    border-radius: px;
    border: 2px solid #2c2401;
    color: #3d3203;
    font-weight: bold;
}
#map {
    background-color: aquamarine;
}