{%load static%}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>회원가입</title>
</head>
<body>
    <div id="main-container"> 
        {% include 'base.html' %}
        <form action="" method="POST">
            {% csrf_token %}
            <div id="signupbox">
                <div class="input-element">
                    <div id="boxwrap">
                        <div id="title">
                            <h2>SIGNUP</h2>
                        </div>
                        <div id="writebox">
                            <!--ID입력창-->
                            <label>이메일</label><br>
                            <input type="text" name="email" placeholder="이메일을 입력하세요." id="email" required>
                        </div>
                        <div id="writebox">
                            <!--이름입력창-->
                            <label>이름</label><br>
                            <input type="text" name="username" placeholder="이름을 입력하세요." id="username" required>
                        </div>
                        <div id="writebox">
                            <!--PASSWORD입력창-->
                            <label>비밀번호</label><br>
                            <input type="password" name="password" placeholder="비밀번호를 입력하세요." id="password" required>
                        </div>
                        <div id="writebox">
                            <label for="re_password">비밀번호 확인</label> </label><br>
                            <input type="password" id="re_password" placeholder="비밀번호 확인" name="re_password" required>
                        </div>
                        <div id="buttonbox">
                        <!--회원가입 버튼-->
                        <button type="submit" id="submit-btn">회원가입</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</body>
</html>