{% load static %}

{% block content %}
<div id="header">
    <div id="nav">
        <div id="left">
            <div id="logo"><img src="{% static 'img\로고.png' %}"></div>
        </div>
        <div id="center">
            <form method="POST" action="{% url 'search' %}">
                {% csrf_token %}
                <div id="searcharea">
                    <input type="search" aria-label="Search" name="q" value="{{q}}">
                    <button type="submit">
                        <div id="searchimg">
                        <img src="{% static 'img\search.png' %}">
                        </div>
                    </button>    
                </div>
            </form>
        </div>
        <div id="right">
            <div id="login">
                <p><a href="#">로그인</a></p>
            </div>
            <div id="signup">
                <p><a href="#">회원가입</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}