{%load static%}
       <!-- header시작 -->
       <div id="header">
            <div id="nav">
                <div id="left">
                    <div id="logo">
                        <a href="{% url 'main' %}"> <!--로고 main으로 연결-->
                            <img src="{% static 'img\로고.png' %}"> 
                        </a>
                    </div>
                </div>
                <div id="center">
                    <div id="searcharea">
                        <form method="GET">
                            <!-- {% csrf_token %} -->
                            <input type="text" placeholder="지역을 입력하세요. ex)천안시" id='q' name='q' value={{q}}>
                            <button id="navbar_toggle" type="submit">
                                <div id="searchimg">
                                    <img src="{% static 'img\search.png' %}">
                                </div>
                            </button>
                        </form> 
                    </div>
                </div>
                <div id="right">
                    {% if not user.is_authenticated %}
                    <div id="login">
                        <p><a href="{% url 'login' %}">로그인</a></p>
                    </div>
                    <div id="signup">
                        <p><a href="{% url 'signup' %}">회원가입</a></p>
                    </div>
                    {% endif %}
                    
                    {% if user.is_authenticated %}
                    <div id="login">
                        <p><a href="#">{{user.username}}님</a></p>
                    </div>
                    <div id="signup">
                        <p><a href="{% url 'logout' %}">로그아웃</a></p>
                    </div>
                    {% endif %}
                </div>
            </div>
       </div>
       <!-- header끝 -->