{%load static%}
       <!-- header시작 -->
       <div id="header">
            <div id="nav">
                <div id="left">
                    <div id="logo">
                        <a href="{% url 'main' %}"> <!--로고 main으로 연결-->
                            <img src="{% static 'img\로고.png' %}"> 
                        </a>
                    </div>
                </div>
                <div id="center">
                    <div id="searcharea">
                        <input type="text" placeholder="지역을 입력하세요. ex)천안시">
                        <button>
                            <div id="searchimg">
                            <img src="{% static 'img\search.png' %}">
                            </div>
                        </button>
                    </div>
                </div>
                <div id="right">
                    <div id="login">
                        <p><a href="#">로그인</a></p>
                    </div>
                    <div id="signup">
                        <p><a href="#">회원가입</a></p>
                    </div>
                </div>
            </div>
       </div>
       <!-- header끝 -->