{%load static%}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/head.css' %">
    <title>지금, 여기</title>
</head>
<body>
    <div id="wrap">
               <!-- header시작 -->
       <div id="header">
        <div id="nav">
            <div id="left">
                <div id="logo"><img src="img\로고.png"></div>
            </div>
            <div id="center">
                <div id="searcharea">
                    <input type="text">
                    <button>
                        <div id="searchimg">
                        <img src="img\search.png">
                        </div>
                    </button>
                </div>
            </div>
            <div id="right">
                <div id="login">
                    <p><a href="#">로그인</a></p>
                </div>
                <div id="signup">
                    <p><a href="#">회원가입</a></p>
                </div>
            </div>
        </div>
        <!-- header끝 -->
        <div id="map">
            <img src="img\로고.png">
            <div id="realmap">
            </div>
            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=48fb92eb759b013a41c30fdf66a85fc9"></script>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>