{%load static%}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/selectlocation.css' %}">
    <title>지금, 여기</title>
</head>
<body>
    <div id="wrap">
        {% include 'base.html' %}
        <div id="post">
                위도: <input type="text" id="lat" name="name" required minlength="4" maxlength="8" size="10">
                경도: <input type="text" id="lon" name="name" required minlength="4" maxlength="8" size="10">
                <button class="btn" id="button">등록하기</button>
        </div><br><br>
        <p>마우스로 클릭해서 공연 위치를 표시해 주세요.</p>
        <div id="map">
            <div id="realmap">
            </div>
            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=48fb92eb759b013a41c30fdf66a85fc9"></script>
        </div>
    </div>
    <script src="{% static 'js/selectlocation.js' %}"></script>
</body>
</html>