* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body {
    margin: 0px;
    width: 100%;
    height: 100%;
}
header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #FFE57B;
    padding-left: 30px;
    padding-right: 30px;
}
.logo {
    width: 120px;
    height: 40px;
    background-color: aqua;
    margin-top: 20px;
}
.searcharea{
    width: 400px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #382200;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
    padding-left: 6px;
}
.searcharea > form > input {
    width: 350px;
    height: 40px;
    border-radius: 20px;
    background-color: none;
    border: none;
    outline: none;
}
.nav {
    display: flex;
    justify-content: flex-end;
    background-color: blueviolet;
    line-height: 80px;
}
.nav > li {
    margin-left: 80px;
}

#map {
    background-color: #3f350f;
    width: 100%;
    height: 1000px;
}

#realmap {
    width: 100%;
    height: 1000px;
}